<div class="articles-item">
    <div class="articles-item__img-wrapper">
        <a href="#">
            <img src="img/articles/@@img.jpg"
                 srcset="img/articles/@@img@2x.jpg 2x,
                 img/articles/@@img@3x.jpg 3x"
                 class="articles-item__img" alt="alt text">
        </a>
    </div>
    <div class="articles-item__inner">
        <h3 class="articles-item__title underline-anime">
            <a href="#" class="articles-item__title__link underline-anime__toggler">
                <div class="underline-anime__visible">
                    @@title
                </div>
                <div class="underline-anime__hidden">
                    <span class="underline-anime__line">@@title</span>
                </div>
            </a>
        </h3>
        <div class="articles-item__text">
            @@text
        </div>
    </div>
</div>