<a href="articles.html" class="blog-item">
    <div class="blog-item__img-wrapper">
        <div class="blog-item__img-inner">
            <img src="img/blog/@@img.jpg" 
                 srcset="img/blog/@@img@2x.jpg 2x, img/blog/@@img@3x.jpg 3x" 
                 alt="@@title" 
                 class="blog-item__img js-video-hover__poster">
        </div>
    </div>
    <div class="blog-item__link js-link" data-link="articles-main.html">
        <div class="blog-item__link-inner">@@link_text</div>
    </div>
    <div class="blog-item__content-wrapper">
        <h4 class="blog-item__header">@@title</h4>
        <p class="blog-item__text">@@text</p>
    </div>
</a>