<a href="#" class="blog-item js-video-hover">
    <div class="blog-item__img-wrapper">
        <video muted class="blog-item__video js-video-hover__video">
            <source src="img/video.mp4" type="video/mp4">
        </video>
        <div class="blog-item__img-inner js-video-hover__poster">
            <img src="img/blog/@@img.jpg" 
                 srcset="img/blog/@@img@2x.jpg 2x, img/blog/@@img@3x.jpg 3x" 
                 alt="@@title" 
                 class="blog-item__img">
        </div>
    </div>
    <div class="blog-item__link js-link" data-link="##">
        <div class="blog-item__link-inner">@@link_text</div>
    </div>
    <div class="blog-item__content-wrapper">
        <h4 class="blog-item__header">@@title</h4>
        <p class="blog-item__text">@@text</p>
    </div>
</a>