<a  href="fleet-boat.html" class="charter-item charter-item_@@class underline-anime__toggler">
    <img src="img/boats/@@img1.jpg" 
         srcset="img/boats/@@img1@2x.jpg 2x, img/boats/@@img1@3x.jpg 3x" 
         alt="@@title" 
         class="charter-item__img">
    <div class="charter-item__content-wrapper">
        <div class="charter-item__content-header">
                <h4 class="charter-item__header underline-anime__visible">
                    @@title
                </h4>
                <h4 class="charter-item__header underline-anime__hidden underline-anime__hidden_centered">
                    <span class="underline-anime__line">@@title</span>
                </h4>
            <div class="charter-item__sub">@@text1</div>
        </div>
        <div class="charter-item__content-footer">
            <div class="charter-item__content-img-wrapper">
                <img src="img/boats/@@img2.png" 
                     srcset="img/boats/@@img2@2x.png 2x, img/boats/@@img2@3x.png 3x" 
                     alt="@@title" 
                     class="charter-item__content-img">  
            </div>
            <div class="row">
                <div class="col">
                    <div class="charter-item__date">@@text2</div>
                </div>
                <div class="col">
                    <div class="charter-item__price">@@text3</div>
                </div>
            </div>
            <button class="btn btn-secondary charter-item__bnt">Request</button>
        </div>
    </div>
</a>