<a href="#" class="fleet-item fleet-item_text-down">
    <div class="fleet-item__img-wrapper">
        <img src="img/fleet/@@img.jpg"
             srcset="img/fleet/@@img@2x.jpg 2x,
             img/fleet/@@img@3x.jpg 3x"
             class="fleet-item__img" alt="alt text">
    </div>
    <div class="fleet-item__inner underline-anime">
        <div class="fleet-item__title underline-anime__toggler">
            <div class="underline-anime__visible">@@title</div>
            <div class="underline-anime__hidden">
                <span class="underline-anime__line">@@title</span>
            </div>
        </div>
        <div class="fleet-item__text">
            <ul class="fleet-item__text__list">
                <li>742 Kb</li>
                <li>4 Pages</li>
                <li>Version 0217EN-C</li>
            </ul>
        </div>
    </div>
</a>