<div class="fleet-boats-item">
    <div class="fleet-boats-item__img-wrapper">
        <a href="fleet-boat.html">
            <img src="img/fleet/@@img.jpg"
                 srcset="img/fleet/@@img@2x.jpg 2x,
                 img/fleet/@@img@3x.jpg 3x"
                 class="fleet-boats-item__img" alt="alt text">
        </a>
    </div>
    <div class="fleet-boats-item__inner">
        <div class="boat-info boat-info_list">
            <div class="boat-info__inner">
                <h1 class="boat-info__title underline-anime">
                    <a href="fleet-boat.html" class="boat-info__title__link underline-anime__toggler">
                        <div class="underline-anime__visible">
                            Fountaine Pajot Lucia 40
                        </div>
                        <div class="underline-anime__hidden">
                            <span class="underline-anime__line">Fountaine Pajot Lucia 40</span>
                        </div>
                    </a>
                </h1>
                <div class="boat-info__subtitle">Boat Name: <strong>Mawimbi</strong></div>
                <ul class="boat-info__data">
                    <li><strong>3</strong> Cabins</li>
                    <li><strong>10 (8+2) / 2</strong> Berths/Toilets-Showers</li>
                    <li><strong>11.50 m</strong> (38ft) Lenght Overall</li>
                    <li><strong>3.99 m</strong> Hull Beam, <strong>2.09</strong> Draft</li>
                    <li>Year of built <strong>2015</strong></li>
                    <li>Base — <strong>Muo, ME</strong></li>
                </ul>
            </div>
            <div class="boat-info__charter">
                <span class="boat-info__charter__text">One week charter from:</span>
                <span class="boat-info__charter__price">1730€</span>
            </div>
            @@if (discount == 1) {
            <div class="boat-info__discount">
                <div class="boat-info__discount__title">-15%</div>
                <div class="boat-info__discount__text">
                    Off for dates:<br>
                    29.09 - 06.10
                </div>
            </div>
            }
        </div>
    </div>
</div>