<div class="fleet-boats-item">
    <div class="fleet-boats-item__img-wrapper">
        <a href="fleet-boat.html">
            <img src="img/fleet/@@img.jpg"
                 srcset="img/fleet/@@img@2x.jpg 2x,
                 img/fleet/@@img@3x.jpg 3x"
                 class="fleet-boats-item__img" alt="alt text">
        </a>
    </div>
    <div class="fleet-boats-item__inner">
        <div class="boat-info boat-info_list">
            <div class="boat-info__inner">
                <h3 class="boat-info__title underline-anime">
                    <a href="fleet-boat.html" class="boat-info__title__link underline-anime__toggler">
                        <div class="underline-anime__visible">
                            Fountaine Pajot Lucia 40
                        </div>
                        <div class="underline-anime__hidden">
                            <span class="underline-anime__line">Fountaine Pajot Lucia 40</span>
                        </div>
                    </a>
                </h3>
                <div class="boat-info__subtitle">Boat Name: <strong>Mawimbi</strong></div>
                <ul class="boat-info__data @@if (discount == 1) {boat-info__data_padding-right}">
                    <li>Cabins: <strong class="text-nowrap">3</strong></li>
                    <li>Berths/Toilets-Showers: <strong class="text-nowrap">10 (8+2) / 2</strong></li>
                    <li>Lenght Overall: <strong class="text-nowrap">11.50 m</strong> (38ft)</li>
                    <li>Hull Beam: <strong class="text-nowrap">3.99 m</strong></li>
                    <li>Draft: <strong class="text-nowrap">2.09</strong></li>
                    <li>Year of built: <strong class="text-nowrap">2015</strong></li>
                    <li>Base: <strong class="text-nowrap">Muo, ME</strong></li>
                    @@if (text != '') {
                    <li>@@text</li>
                    }
                </ul>
            </div>
            <div class="boat-info__charter">
                <span class="boat-info__charter__text">One week charter from:</span>
                <span class="boat-info__charter__price">1730 €</span>
            </div>
            @@if (discount == 1) {
            <div class="boat-info__discount">
                <div class="boat-info__discount__title">-15%</div>
                <div class="boat-info__discount__text">
                    Off for dates:<br>
                    29.09 - 06.10
                </div>
            </div>
            }
        </div>
    </div>
</div>