<footer>
    <section class="index-social">
        <div class="container">
            <div class="row justify-content-between">
                <ul class="social-list">
                    <li><a href="#"><i class="icon icon-telegram-rounded"></i></a></li>
                    <li><a href="#"><i class="icon icon-facebook-mess"></i></a></li>
                    <li><a href="#"><i class="icon icon-whatsapp"></i></a></li>
                    <li><a href="#"><i class="icon icon-mail"></i></a></li>
                </ul>
                <ul class="social-list">
                    <li><a href="#"><i class="icon icon-facebook-rounded"></i></a></li>
                    <li><a href="#"><i class="icon icon-twitter-rounded"></i></a></li>
                    <li><a href="#"><i class="icon icon-google-rounded"></i></a></li>
                    <li><a href="#"><i class="icon icon-vk-rounded"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 footer-address">
                    <a href="#" class="block-link">
                        <div class="footer-address__header">Croatia</div>
                        <div class="footer-address__inner">
                            <div class="footer-address__inner__address">
                                Marina Slano, <br>
                                Next to Dubrovnik 
                            </div>
                            <div class="footer-address__inner__geo">
                                42°26’03.4" N <br>
                                18°45’26.4" E
                            </div>
                        </div>
                        <div class="footer-address__phone">+382 69 541228</div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 footer-address footer-address_last">
                    <a href="#" class="block-link">
                        <div class="footer-address__header">Montenegro</div>
                        <div class="footer-address__inner">
                            <div class="footer-address__inner__address">
                                Marina Muo, <br>
                                Next to Kotor  
                            </div>
                            <div class="footer-address__inner__geo">
                                42°26’03.4" N <br>
                                18°45’26.4" E
                            </div>
                        </div>
                        <div class="footer-address__phone">+382 69 541228</div>
                    </a>
                </div>
                <div class="col-12 col-lg-6 footer-protection">
                    <div class="footer-protection__wrapper">
                        <a href="#" class="block-link">
                            <div class="footer-protection__img">
                                <img src="img/footer/member.png"
                                     srcset="img/footer/member@2x.png 2x,
                                     img/footer/member@3x.png 3x"
                                     alt="alt text">
                            </div>
                            <div class="footer-protection__inner">
                                <div class="footer-protection__inner__header">
                                    Protection of Your Payment
                                </div>
                                <div class="footer-protection__inner__text">
                                    SimpleSail is proud to be a member of Yacht Pool Financial Security System, which works only with the most reliable charter companies in the world. All customer payments are insured with Yacht Pool International, with money-back guarantee in case a tour operator or a charter company fails to meet its obligations.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-logos footer-logos_booking">
                <p>We approved the folowing booking engine:</p>
                <ul class="footer-logos__list">
                    <li><a href="#" target="_blank"><img src="img/footer/sedna.png"
                                                         srcset="img/footer/sedna@2x.png 2x,
                                                         img/footer/sedna@3x.png 3x" alt="alt text"></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer/mmk.png"
                                                         srcset="img/footer/mmk@2x.png 2x,
                                                         img/footer/mmk@3x.png 3x" alt="alt text"></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer/boatbooker.png"
                                                         srcset="img/footer/boatbooker@2x.png 2x,
                                                         img/footer/boatbooker@3x.png 3x" alt="alt text"></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer/nausys.png"
                                                         srcset="img/footer/nausys@2x.png 2x,
                                                         img/footer/nausys@3x.png 3x" alt="alt text"></a></li>
                </ul>
            </div>
            <div class="footer-logos footer-logos_made">
                <p>SimpleSail yachts are made on ropes:</p>
                <ul class="footer-logos__list">
                    <li><a href="#" target="_blank"><img src="img/footer/beneteau.png"
                                                         srcset="img/footer/beneteau@2x.png 2x,
                                                         img/footer/beneteau@3x.png 3x" alt="alt text"></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer/pajot.png"
                                                         srcset="img/footer/pajot@2x.png 2x,
                                                         img/footer/pajot@3x.png 3x" alt="alt text"></a></li>
                </ul>
            </div>
            <div class="footer-logos footer-logos_payment">
                <p>We accept:</p>
                <ul class="footer-logos__list">
                    <li><a href="#" target="_blank"><img src="img/footer/visa.png"
                                                         srcset="img/footer/visa@2x.png 2x,
                                                         img/footer/visa@3x.png 3x" alt="alt text"></a></li>
                    <li><a href="#" target="_blank"><img src="img/footer/mastercard.png"
                                                         srcset="img/footer/mastercard@2x.png 2x,
                                                         img/footer/mastercard@3x.png 3x" alt="alt text"></a></li>
                </ul>
            </div>
            <div class="footer-credits">
                <p>Sailing and Motor Yacht and Catamaran Charter, Yacht school, Maintenance & Repair, Charter Management</p>
                <p>Copyright 2013-2018 © SimpleSail</p>
                <div class="footer-credits_logo">
                    <a href="/">
                        <img alt="alt text" src="img/footer/simplesail.svg">
                    </a>
                </div>
                <div class="footer-credits_made">
                    <a href="//riverstart.ru" target="_blank">
                        <img alt="alt text" src="img/footer/riverstart.svg">
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>