<header>
    <nav class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="#" class="top-nav__social">
                        <i class="icon icon-facebook"></i> 
                        <span class="top-nav__social__underline">facebook.com/simplesail.me</span>
                    </a>
                </div>
                <div class="col">
                    <ul class="nav-contacts nav-contacts_top-menu">
                        <li>
                            <a href="#" class="nav-contacts__link">
                                <span class="nav-contacts__icon">HR</span>
                                <span class="nav-contacts__underline">+382 69 541228</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-contacts__link">
                                <span class="nav-contacts__icon">ME</span>
                                <span class="nav-contacts__underline">+382 69 541228</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="main-nav">
        <div class="container">
            <div class="row align-items-center align-items-lg-end main-nav__inner">
                <div class="col">
                    <div class="main-nav__logo">
                        <a href="index.html" class="main-nav__logo-link js-menu-logo">
                            <img class="main-nav__logo-img" src="img/logo.svg" alt="alt text">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <ul class="main-nav__top-menu">
                        <li><a href="#">Routes</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Ru</a></li>
                    </ul>
                    <div class="row flex-nowrap">
                        <div class="col">
                            <ul class="main-nav__bottom-menu">
                                <li><a href="fleet-main.html">Our Fleet</a></li>
                                <li><a href="#">Rates</a></li>
                                <li><a href="#">Yacht Charter</a></li>
                                <li><a href="#">Scool</a></li>
                                <li><a href="#">Marins</a></li>
                                <li><a href="#">For Yacht Owners</a></li>
                            </ul>
                        </div>
                        <div class="col col-no-grow">
                            <ul class="main-nav__icon-menu">
                                <li class="main-nav__hidden-sm main-nav__hidden-lg">
                                    <a href="#" class="main-nav__icon-menu__link main-nav__contacts-link">
                                        <span class="main-nav__contacts-icon">HR</span>
                                        <span class="main-nav__contacts-link__underline">+382 69 541228</span>
                                    </a>
                                </li>
                                <li class="main-nav__hidden-sm main-nav__hidden-lg">
                                    <a href="#" class="main-nav__icon-menu__link main-nav__contacts-link">
                                        <span class="main-nav__contacts-icon">ME</span>
                                        <span class="main-nav__contacts-link__underline">+382 69 541228</span>
                                    </a>
                                </li>
                                <li class="main-nav__hidden-md js-menu-icon"><a href="#" class="main-nav__icon-menu__link"><i class="icon icon-weather"></i></a></li>
                                <li class="main-nav__hidden-md js-menu-icon"><a href="#" class="main-nav__icon-menu__link"><i class="icon icon-mail"></i></a></li>
                                <li><a href="#" class="main-nav__icon-menu__link"><i class="icon icon-geo"></i></a></li>
                                <li class="main-nav__hidden-lg"><a href="#" class="main-nav__icon-menu__link js-menu-toggler"><i class="icon icon-menu"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="mobile-nav js-menu">
        <ul class="mobile-nav__menu">
            <li><a href="fleet-main.html">Our Fleet</a></li>
            <li><a href="#">Rates</a></li>
            <li><a href="#">Yacht Charter</a></li>
            <li><a href="#">School</a></li>
            <li><a href="#">Marina</a></li>
            <li><a href="#">For Yacht Owners</a></li>
        </ul>
        <ul class="mobile-nav__menu mobile-nav__menu_sub">
            <li><a href="#">Routes</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
        <button class="btn btn-primary">Request</button>
        <ul class="nav-contacts nav-contacts_mobile-menu">
            <li>
                <a href="#" class="nav-contacts__link">
                    <span class="nav-contacts__icon">HR</span>
                    <span class="nav-contacts__underline">+382 69 541228</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-contacts__link">
                    <span class="nav-contacts__icon">ME</span>
                    <span class="nav-contacts__underline">+382 69 541228</span>
                </a>
            </li>
        </ul>
    </nav>
</header>