<head>
    <title>@@name</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.formstyler.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.formstyler.theme.css" rel="stylesheet" type="text/css">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="css/libs/video-js.css" rel="stylesheet" type="text/css">
    <link href="css/common1.css" rel="stylesheet" type="text/css">
</head>