<head>
    <title>@@name</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.formstyler.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.formstyler.theme.css" rel="stylesheet" type="text/css">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="css/libs/video-js.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.scrollbar.css" rel="stylesheet" type="text/css">
    <link href="css/libs/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
    <link href="css/libs/datepicker/datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="css/libs/datepicker/cell.css" rel="stylesheet" type="text/css"/>
    <link href="css/libs/datepicker/navigation.css" rel="stylesheet" type="text/css"/>
    <link href="css/libs/jquery.jscrollpane.css" rel="stylesheet" type="text/css"/>
    <link href="css/common.css" rel="stylesheet" type="text/css">
</head>