<section class="index-fleet">
    <div class="index-fleet__video-wrapper">
        <video autoplay loop class="index-fleet__video js-video-autoplay">
            <source src="img/Back_main_01_mute.mp4" type="video/mp4">
        </video>
    </div>
    <div class="index-fleet__wrapper">
        <div class="container">
            <div class="index-fleet__header">
                <h3 class="index-fleet__header__inner">Our fleet</h3>
            </div>
            <div class="row justify-content-center fleet-icon-list">
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="#" class="fleet-icon">
                        <div class="fleet-icon__header">19</div>
                        <div class="fleet-icon__text">Sailing Yachts</div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="#" class="fleet-icon">
                        <div class="fleet-icon__header">4</div>
                        <div class="fleet-icon__text">Sailing Catamarans</div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="#" class="fleet-icon">
                        <div class="fleet-icon__header">2</div>
                        <div class="fleet-icon__text">Motor Catamarans</div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="#" class="fleet-icon">
                        <div class="fleet-icon__header">3</div>
                        <div class="fleet-icon__text">Motor Boats</div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="#" class="fleet-icon">
                        <div class="fleet-icon__header">8</div>
                        <div class="fleet-icon__text">New Yachts Built in 2018</div>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="#" class="fleet-icon">
                        <div class="fleet-icon__header">
                            <img  class="fleet-icon__logo" src="img/fleet-logo.svg" alt="alt text">
                        </div>
                        <div class="fleet-icon__text">All Fleet SimpleSail</div>
                    </a>
                </div>
            </div>
            <div class="index-fleet__footer">
                <div class="index-fleet__footer__inner">
                    <button class="btn btn-secondary">Show more</button>
                </div>
            </div>
        </div>
    </div>
</section>