<section class="index-charter">
    <div class="index-charter__dark">
        <div class="container">
            <div class="index-charter__header-wrapper">
                <h3 class="index-charter__header">SimpleSail Catamaran Yacht Charter</h3>
                <p class="index-charter__introtext">It is a great idea to spend an unforgettable holiday on a yacht 
                    under the control of captain-instructor of SimpleSail. Every day you will follow a route specially prepared for you. Every night you will go to a new location: a quiet fishing village or a city with pulsing nightlife. 
                    Or you can spend your nights on an ancor near the wild beaches.</p>
            </div>
            <div class="js-sly-wrapper" data-sly-min="0" data-sly-max="767">
                <div class="js-sly-frame">
                    <div class="row charter-list">
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "dark",
                            "img1": "1",
                            "img2": "1s",
                            "title": "Fountaine Pajot Lucia 40 ",
                            "text1": "Mawimbi, 4 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "dark",
                            "img1": "2",
                            "img2": "2s",
                            "title": "Fountaine Pajot Helia 44",
                            "text1": "Clione, 3 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "dark",
                            "img1": "1",
                            "img2": "1s",
                            "title": "Fountaine Pajot Helia 44",
                            "text1": "Clione, 3 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "dark",
                            "img1": "4",
                            "img2": "4s",
                            "title": "Fountaine Pajot Helia 44",
                            "text1": "Clione, 3 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                    </div>
                </div>
                <div class="charter-scrollbar">
                    <div class="js-sly-scrollbar sly__scrollbar">
                        <div class="handle sly__scrollbar__handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-charter__light">
        <div class="container">
            <div class="js-sly-wrapper" data-sly-min="0" data-sly-max="767">
                <div class="js-sly-frame">
                    <div class="row charter-list">
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "light",
                            "img1": "5",
                            "img2": "5s",
                            "title": "Fountaine Pajot Lucia 40 ",
                            "text1": "Mawimbi, 4 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "light",
                            "img1": "6",
                            "img2": "6s",
                            "title": "Fountaine Pajot Helia 44",
                            "text1": "Clione, 3 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "light",
                            "img1": "7",
                            "img2": "7s",
                            "title": "Fountaine Pajot Lucia 40 ",
                            "text1": "Mawimbi, 4 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                        <div class="col-3 flex underline-anime">
                            @@include('./chunks/charter-item.html', {
                            "class": "light",
                            "img1": "8",
                            "img2": "8s",
                            "title": "Fountaine Pajot Helia 44",
                            "text1": "Clione, 3 Cabin",
                            "text2": "19.09-26.10",
                            "text3": "€ 4 382"
                            })
                        </div>
                    </div>
                </div>
                <div class="charter-scrollbar">
                    <div class="js-sly-scrollbar sly__scrollbar">
                        <div class="handle sly__scrollbar__handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>