<section class="index-promo">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 promo-item">
                <img class="promo-item__img"
                     src="img/promo/1.jpg"
                     srcset="img/promo/1@2x.jpg 2x,
                     img/promo/1@3x.jpg 3x"
                     alt="alt text">
                <div class="promo-item__inner">
                    <div class="promo-item__text underline-anime">
                        <a href="#" class="underline-anime__toggler">
                            <div class="underline-anime__visible">
                                Подводный скутер SEABOB, стоимость в неделю:
                            </div>
                            <div class="underline-anime__hidden">
                                <span class="underline-anime__line">Подводный скутер SEABOB, стоимость в неделю:</span>
                            </div>
                        </a>
                    </div>
                    <div class="promo-item__price">
                        300€
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 promo-item">
                <img class="promo-item__img"
                     src="img/promo/2.jpg"
                     srcset="img/promo/2@2x.jpg 2x,
                     img/promo/2@3x.jpg 3x"
                     alt="alt text">
                <div class="promo-item__inner">
                    <div class="promo-item__text underline-anime">
                        <a href="#" class="underline-anime__toggler">
                            <div class="underline-anime__visible">
                                Дневная прогулка на катере BAYLINER 175:
                            </div>
                            <div class="underline-anime__hidden">
                                <span class="underline-anime__line">Дневная прогулка на катере BAYLINER 175:</span>
                            </div>
                        </a>
                    </div>
                    <div class="promo-item__price">
                        200€
                    </div>
                </div>
            </div>
        </div>
        <div class="index-promo__text">
            <h3 class="index-promo__text__title">
                SimpleSail Adriatic Yacht Team
            </h3>
            <p class="index-promo__text__intro">
                Our staff is highly experienced. 
                Our people possess a lifelong maritime and 
                yacht experience. SimpleSail skippers have 
                passed thousands of nautical miles in the 
                waters of the Mediterranean, Black Sea, 
                Baltics, and Atlantics. Many of them have 
                earned prestigious awards in reputable 
                international regattas. 
            </p>
        </div>
        @@include('./promo-icon.html')
    </div>
</section>