<section class="index-marina">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="marina-item">
                    <div class="row">
                        <div class="col-12 col-md order-md-1 underline-anime">
                            <a href="#" class="marina-item__header underline-anime__toggler">
                                <div>
                                    <img class="marina-item__header-flag"
                                         src="img/marina/croatia/flag.jpg"
                                         srcset="img/marina/croatia/flag@2x.jpg 2x,
                                         img/marina/croatia/flag@3x.jpg 3x" 
                                         alt="alt text">
                                </div>
                                <div class="marina-item__header-wrapper">
                                    <div class="underline-anime__visible">
                                        <span class="marina-item__header-title">
                                            Croatian Yachting Routes:
                                        </span>
                                        <span class="marina-item__header-geo">
                                            Korcula,  42°46.962’N, 17°53.257’E
                                        </span>
                                    </div>
                                    <div class="underline-anime__hidden">
                                        <span class="marina-item__header-title">
                                            <span>Croatian Yachting Routes:</span>
                                        </span>
                                        <span class="marina-item__header-geo">
                                            <span class="underline-anime__line">Korcula,  42°46.962’N, 17°53.257’E</span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 order-md-3">
                            <a href="#" class="marina-item__img-wrapper">
                                <img class="marina-item__img"
                                     src="img/marina/croatia/preview.jpg"
                                     srcset="img/marina/croatia/preview@2x.jpg 2x,
                                     img/marina/croatia/preview@3x.jpg 3x" 
                                     alt="alt text">
                            </a>
                        </div>
                        <div class="col-12 col-md order-md-2 marina-item__geo-wrapper underline-anime">
                            <a href="#" class="underline-anime__toggler">
                                <div class="marina-item__geo">
                                    <div class="marina-item__geo__inner">
                                        <div class="underline-anime__visible">
                                            SimpleSail Base in Croatia
                                        </div>
                                        <div class="underline-anime__hidden">
                                            <span class="underline-anime__line">SimpleSail Base in Croatia</span>
                                        </div>
                                    </div>
                                    <i class="icon icon-geo"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="marina-item">
                    <div class="row">
                        <div class="col-12 col-md order-md-1 underline-anime">
                            <a href="#" class="marina-item__header underline-anime__toggler">
                                <div>
                                    <img class="marina-item__header-flag"
                                         src="img/marina/croatia/flag.jpg"
                                         srcset="img/marina/croatia/flag@2x.jpg 2x,
                                         img/marina/croatia/flag@3x.jpg 3x" 
                                         alt="alt text">
                                </div>
                                <div class="marina-item__header-wrapper">
                                    <div class="underline-anime__visible">
                                        <span class="marina-item__header-title">
                                            Montenegrin Yachting Routes:
                                        </span>
                                        <span class="marina-item__header-geo">
                                            Korcula,  42°46.962’N, 17°53.257’E
                                        </span>
                                    </div>
                                    <div class="underline-anime__hidden">
                                        <span class="marina-item__header-title">
                                            <span>Montenegrin Yachting Routes:</span>
                                        </span>
                                        <span class="marina-item__header-geo">
                                            <span class="underline-anime__line">Korcula,  42°46.962’N, 17°53.257’E</span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 order-md-3">
                            <a href="#" class="marina-item__img-wrapper">
                                <img class="marina-item__img"
                                     src="img/marina/montenegro/preview.jpg"
                                     srcset="img/marina/montenegro/preview@2x.jpg 2x,
                                     img/marina/montenegro/preview@3x.jpg 3x" 
                                     alt="alt text">
                            </a>
                        </div>
                        <div class="col-12 col-md order-md-2 marina-item__geo-wrapper underline-anime">
                            <a href="#" class="underline-anime__toggler">
                                <div class="marina-item__geo">
                                    <div class="marina-item__geo__inner">
                                        <div class="underline-anime__visible">
                                            SimpleSail Base in Montenegro
                                        </div>
                                        <div class="underline-anime__hidden">
                                            <span class="underline-anime__line">SimpleSail Base in Montenegro</span>
                                        </div>
                                    </div>
                                    <i class="icon icon-geo"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 flex">
                <div class="marina-map__img-wrapper">
                    <div class="marina-map__img-inner">
                        <img class="marina-map__img"
                             src="img/marina/map.jpg"
                             srcset="img/marina/map@2x.jpg 2x,
                             img/marina/map@3x.jpg 3x" 
                             alt="alt text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>