<section class="index-blog">
    <div class="container">
        <h3 class="index-blog__header">About Fleet, Yachting and Traveling</h3>
        <div class="row blog-list">
            <div class="col-12 col-md-4 flex">
                @@include('./chunks/blog-item-video.html', {
                "img": "1",
                "title": "Beneteau Oceanis 38: Review and Tests",
                "text": "The new Beneteau Oceanis 38 has been designed using a ‘flexiboat’ concept and is available in three guises. Duncan Kent tested her in Palma.",
                "link_text": "Our Fleet"
                })
            </div>
            <div class="col-12 col-md-4 flex">
                @@include('./chunks/blog-item.html', {
                "img": "2",
                "title": "The anatomy of sails from all around the world",
                "text": "Some researchers attribute the invention of mankind sail almost the forward wheel, which is understandable - the river served us and sometimes fishing, and…",
                "link_text": "Adventure"
                })
            </div>
            <div class="col-12 col-md-4 flex">
                @@include('./chunks/blog-item.html', {
                "img": "3",
                "title": "Route 3: Montenegro. Boka Kotorska in 7 days ",
                "text": "Distance: 91 NM. The SimpleSail Company has developed this route in order to give you an opportunity to enjoy yachting and see most of the major sights of…",
                "link_text": "Routes"
                })
            </div>
            <div class="col-12 col-md-4 flex">
                @@include('./chunks/blog-item.html', {
                "img": "4",
                "title": "Abbey of St. George, Perast, Bay of Kotor ",
                "text": "In the vicinity of Our Lady of the Rock, the island that arose from the deep sea by effort of men, lies the St George, the island of entirely different nature and destiny.",
                "link_text": "Yachting"
                })
            </div>
            <div class="col-12 col-md-4 flex">
                @@include('./chunks/blog-item.html', {
                "img": "5",
                "title": "SimpleSail: Protection of Customer Payments ",
                "text": "When a customer picks up a charter company, one of the key criteria is his assurance that the deposit payment is a guarantee that all services will be duly…",
                "link_text": "SimpleSail"
                })
            </div>
            <div class="col-12 col-md-4 flex">
                @@include('./chunks/blog-item.html', {
                "img": "6",
                "title": "Route 4: Croatia. South Dalmatia in 14 days ",
                "text": "This route is approximately 300 nautical miles long. The main part of this voyage will be in the waters of the Republic of Croatia, which is a member of the…",
                "link_text": "Routes"
                })
            </div>
        </div>
        <div class="index-blog__footer">
            <div class="index-blog__footer__inner">
                <a href="articles-main.html" class="btn btn-secondary">Show more</a>
            </div>
        </div>
    </div>
</section>