<section class="index-slider">
    <div class="js-slider_single">
        <div class="slide">
            <div class="container">
                <div class="slide__header">
                    <div class="slide__header__h1 underline-anime">
                        <a class="underline-anime__toggler" href="#">
                        <div class="underline-anime__visible">
                            Rent of yachts and catamarans in Montenegro and Croatia
                        </div>
                        <div class="underline-anime__hidden">
                            <span class="underline-anime__line">Rent of yachts and catamarans in Montenegro and Croatia</span>
                        </div>
                        </a>
                    </div>
                    <div class="slide__header__inner">
                        <div class="slide__header__text">
                            Fountaine Pajot Lucia 40, Helia 44, MY37, MY44
                            Beneteau Oceanis 38, 41, 41.1, 45, 48
                            Beneteau Gran Turismo 34, Baylayner 175
                            Seabob F5
                        </div>
                        <!--<a href="#" class="slide__header__link">More</a>-->
                    </div>
                </div>
                <div class="slide__content">
                    <a href="#">
                        <img src="img/slider/1.jpg"
                             srcset="img/slider/1@2x.jpg 2x,
                             img/slider/1@3x.jpg 3x"
                             class="slide__img" alt="alt text">
                    </a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="slide__header">
                    <div class="slide__header__h1 underline-anime">
                        <a class="underline-anime__toggler" href="#">
                        <div class="underline-anime__visible">
                            Rent of yachts and catamarans in Montenegro and Croatia
                        </div>
                        <div class="underline-anime__hidden">
                            <span class="underline-anime__line">Rent of yachts and catamarans in Montenegro and Croatia</span>
                        </div>
                        </a>
                    </div>
                    <div class="slide__header__inner">
                        <div class="slide__header__text">
                            Fountaine Pajot Lucia 40, Helia 44, MY37, MY44
                            Beneteau Oceanis 38, 41, 41.1, 45, 48
                            Beneteau Gran Turismo 34, Baylayner 175
                            Seabob F5
                        </div>
                        <!--<a href="#" class="slide__header__link">More</a>-->
                    </div>
                </div>
                <div class="slide__content">
                    <a href="#">
                        <img src="img/slider/1.jpg"
                             srcset="img/slider/1@2x.jpg 2x,
                             img/slider/1@3x.jpg 3x"
                             class="slide__img" alt="alt text">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container index-slider__request__wrapper">
        <div class="index-slider__request">
            <div class="index-slider__request__col index-slider__request__col_select">
                <select class="js-select" data-theme="custom">
                    <option>Oceanis 38, 2015, 3 Cabin</option>
                    <option>Oceanis 38, 2015, 2 Cabin</option>
                    <option>Oceanis 38, 2015, 1 Cabin</option>
                </select>
            </div>
            <div class="index-slider__request__col">
                <button class="btn btn-primary">Request</button>
            </div>
        </div>
    </div>
</section>