<div class="row promo-icon">
    <a href="#" class="col-6 col-md-3 promo-icon__item">
        <div class="promo-icon__item__inner">
            <div class="promo-icon__item__icon-wrapper">
                <img src="img/school-white.svg" class="promo-icon__item__icon">
            </div>
            <div class="promo-icon__item__text">
                Yacht School
            </div>
        </div>
    </a>
    <a href="#" class="col-6 col-md-3 promo-icon__item">
        <div class="promo-icon__item__inner">
            <div class="promo-icon__item__icon-wrapper">
                <img src="img/parking-white.svg" class="promo-icon__item__icon">
            </div>
            <div class="promo-icon__item__text">
                Yacht Parking
            </div>
        </div>
    </a>
    <a href="#" class="col-6 col-md-3 promo-icon__item">
        <div class="promo-icon__item__inner">
            <div class="promo-icon__item__icon-wrapper">
                <img src="img/service-white.svg" class="promo-icon__item__icon">
            </div>
            <div class="promo-icon__item__text">
                Maintenance and Repair
            </div>
        </div>
    </a>
    <a href="#" class="col-6 col-md-3 promo-icon__item">
        <div class="promo-icon__item__inner">
            <div class="promo-icon__item__icon-wrapper">
                <img src="img/charter-white.svg" class="promo-icon__item__icon">
            </div>
            <div class="promo-icon__item__text">
                Charter Management
            </div>
        </div>
    </a>
</div>