.footer-dark {
    background-color: #37474f;
    padding-top: 40px;
}
.footer-address {
    color: $white;
    opacity: .6;
    margin-bottom: 55px;
    position: relative;
    .footer-address__header {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 13px;
    }
    .footer-address__inner {
        overflow: hidden;
        margin-bottom: 17px;
        .footer-address__inner__address {
            float: left;
        }
        .footer-address__inner__geo {
            padding-left: 128px;
        }
    }
    .footer-address__phone {
        font-family: $font-family-alt;
        font-size: 20px;
        a {
            color: inherit;
        }
    }
    &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -31px;
        width: 125px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to right, rgba(89, 110, 121, 0), #718f9e 48%, rgba(89, 110, 121, 0));
        border-image-slice: 1;
    }
    &.footer-address_last:after {
        content: none;
    }
}
.footer-protection {
    margin-bottom: 55px;
    .footer-protection__wrapper {
        display: flex;
    }
    .footer-protection__img {
        /*flex: 1;*/
        position: relative;
    }
    .footer-protection__inner {
        padding-left: 20px;
        color: $white;
        opacity: .6;
        flex: 1;
        .footer-protection__inner__header {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 9px;
        }
    }
}
.footer-logos {
    text-align: center;
    font-size: 16px;
    color: $white;
    p {
        opacity: 0.6;
        margin-bottom: 15px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-logos__list {
        @include list-inline-center(30px);
        li {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    &.footer-logos_booking {
        margin-bottom: 53px;
    }
    &.footer-logos_made {
        margin-bottom: 86px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            border-style: solid;
            border-width: 1px;
            border-image-source: linear-gradient(to right, rgba(89, 110, 121, 0), #718f9e 48%, rgba(89, 110, 121, 0));
            border-image-slice: 1;
        }
    }
    &.footer-logos_payment {
        margin-bottom: 61px;
    }
}
.footer-credits {
    text-align: center;
    font-size: 16px;
    color: $white;
    p {
        opacity: 0.6;
        margin-bottom: 24px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-credits_logo {
        margin: 38px 0 49px;
    }
    .footer-credits_made {
        margin-bottom: 49px;
    }
    .footer-credits__img {
        opacity: .5;
    }
}
@include media-breakpoint-up(md) {
    .footer-address {
        margin-bottom: 62px;
        padding-left: 50px;
        padding-right: 50px;
        &:after {
            right: 0;
            bottom: auto;
            left: auto;
            top: 0;
            width: 0;
            height: 123px;
            border-style: solid;
            border-width: 1px;
            border-image-source: linear-gradient(to bottom, rgba(89, 110, 121, 0), #718f9e 48%, rgba(89, 110, 121, 0));
            border-image-slice: 1;
        }
    }
    .footer-protection {
        margin-bottom: 80px;
        padding-left: 50px;
        padding-right: 50px;
        .footer-protection__img {
            img {
                min-height: 100%;
                display: block;
/*                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);*/
            }
        }
    }
    .footer-logos {
        .footer-logos__list {
            @include list-inline-center(50px);
        }
        &.footer-logos_booking {
            margin-bottom: 55px;
        }
        &.footer-logos_made {
            margin-bottom: 77px;
            &:after {
                bottom: -36px;
                width: 62%;
            }
        }
        &.footer-logos_payment {
            margin-bottom: 45px;
        }
    }
    .footer-credits {
        p {
            margin-bottom: 13px;
        }
        .footer-credits_logo {
            margin: 20px 0 39px;
        }
        .footer-credits_made {
            margin-bottom: 55px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .footer-dark {
        padding-top: 1.8em;
    }
    .footer-address {
        margin-bottom: 4em;
        padding-right: 0;
        padding-left: 3vw;
        &.footer-address_last:after {
            content: '';
        }
        &:first-of-type {
            padding-left: 0;
        }
        .footer-address__header {
            font-size: 100%;
            margin-bottom: .7em;
        }
        .footer-address__inner {
            margin-bottom: .9em;
            .footer-address__inner__address {
                font-size: 80%;
            }
            .footer-address__inner__geo {
                font-size: 80%;
                padding-left: 8.7em;
            }
        }
        .footer-address__phone {
            font-size: 106%;
        }
    }
    .footer-protection {
        margin-bottom: 4em;
        padding-right: 0;
        padding-left: 3vw;
        .footer-protection__inner {
            padding-left: 1em;
            .footer-protection__inner__header {
                font-size: 100%;
                margin-bottom: .7em;
            }
            .footer-protection__inner__text {
                font-size: 85%;
            }
        }
    }
    .footer-logos {
        font-size: 105%;
        p {
            margin-bottom: .9em;
        }
        .footer-logos__list {
            @include list-inline-center(4.4em);
        }
        &.footer-logos_booking {
            margin-bottom: 3.2em;
        }
        &.footer-logos_made {
            margin-bottom: 4.8em;
            &:after {
                width: 58%;
            }
        }
        &.footer-logos_payment {
            margin-bottom: 2.9em;
        }
    }
    .footer-credits {
        font-size: 105%;
        .footer-credits_made {
            margin-bottom: 2.8em;
        }
    }
}