.top-nav {
    display: none;
    background-color: #adbfc7;
    font-family: $font-family-alt;
    color: $white;
    .top-nav__social {
        color: inherit;
        display: block;
        line-height: 38px;
        .icon {
            opacity: .5;
            margin-right: .4em;
        }
        .top-nav__social__underline {
            @include link-underline($white);
        }
    }
}
@include media-breakpoint-up(lg) {
    .top-nav {
        display: block;
    }
}
@include media-breakpoint-up(xl) {
    .top-nav {
        .top-nav__social {
            line-height: 2.54em;
        }
    }
}

.nav-contacts {
    font-family: $font-family-alt;
    @include list-inline(36px);
    text-align: right;
    .nav-contacts__link {
        display: block;
        color: inherit;
    }
    .nav-contacts__icon {
        display: inline-block;
        width: 26px;
        line-height: 26px;
        border-radius: 50%;
        text-align: center;
        margin-right: 2px;
        vertical-align: middle;
        margin-top: -5px;
    }
    .nav-contacts__underline:hover {
        border-bottom: 1px dashed;
    }
    &.nav-contacts_top-menu {
        color: $white;
        line-height: 38px;
        .nav-contacts__link {
            font-size: 13px;
            letter-spacing: .5px;
        }
        .nav-contacts__icon {
            background-color: $white;
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #b0bfc6;
        }
    }
    &.nav-contacts_mobile-menu {
        color: #455a64;
        line-height: 26px;
        text-align: left;
        margin-top: 20px;
        li {
            margin-right: 25px;
            &:last-of-type {
                margin-right: 0;
            }
        }
        .nav-contacts__link {
            font-size: 11px;
        }
        .nav-contacts__underline {
            border-color: rgba(#455a64, .7);
        }
        .nav-contacts__icon {
            background-color: #b2bec4;
            font-size: 12px;
            letter-spacing: 0.5px;
            color: $white;
        }
    }
}
@include media-breakpoint-up(xl) {
    .nav-contacts.nav-contacts_top-menu {
        line-height: 2.54em;
        li {
            margin-right: 2.4em;
            &:last-of-type {
                margin-right: 0;
            }
        }
        .nav-contacts__link {
            font-size: 86.6%;
            letter-spacing: .03px;
        }
        .nav-contacts__icon {
            width: 2.17em;
            line-height: 2.17em;
            font-size: 80%;
            letter-spacing: 0.03em;
            margin-right: 0.17em;
            margin-top: -0.42em;
        }
    }
}

.main-nav {
    background-color: $white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
    .col-no-grow {
        flex-grow: 0;
    }
    .main-nav__inner {
        min-height: 73px;        
    }
    .main-nav__logo {
        .main-nav__logo-img {
            height: 39px;
        }
        .main-nav__logo-link {
            display: block;
            &.main-nav__logo-link_crop {
                width: 50px;
                overflow: hidden;
            }
        }
    }
    .main-nav__top-menu {
        display: none;
        @include list-inline(23px);
        text-align: right;
        margin-bottom: 20px;
        a {
            @include link-underline();
            font-size: 16px;
            letter-spacing: 0.3px;
        }
    }
    .main-nav__bottom-menu {
        display: none;
        @include list-inline(12px);
        font-size: 22px;
        letter-spacing: 0.3px;
        text-align: right;
        white-space: nowrap;
        margin-right: 32px;
        li {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                right: -9px;
                width: 2px;
                height: 20px;
                background-color: #b3bfc5;
            }
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
        }
        a {
            @include link-underline();
        }
    }
    .main-nav__icon-menu {
        @include list-inline(25px);
        white-space: nowrap;
        text-align: right;
        font-size: 22px;
        line-height: 21px;
        .main-nav__icon-menu__link {
            display: inline-block;
            vertical-align: middle;
            .icon-mail {
                font-size: 80%;
            }
            .icon-menu {
                font-size: 79%;
            }
        }
        .main-nav__contacts-link {
            font-family: $font-family-alt;
            font-size: 13px;
            letter-spacing: .5px;
            &:hover {
                color: inherit;
                .main-nav__contacts-link__underline {
                    border-bottom: 1px dashed rgba($link-color, .7);
                }
            }
        }
        .main-nav__contacts-icon {
            display: inline-block;
            width: 24px;
            line-height: 24px;
            border-radius: 50%;
            background-color: $link-color;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-align: center;
            color: $white;
            margin-right: 2px;
            vertical-align: middle;
            margin-top: -2px;
        }
        a:hover {
            color: $primary;
            @include transition();
        }
    }
}
@include media-breakpoint-down(sm) {
    .main-nav__hidden-sm {
        display: none !important;
    }
}
@include media-breakpoint-down(md) {
    .main-nav {
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;
    }
    body {
        padding-top: 73px;
    }
    .main-nav__hidden-md {
        display: none !important;
    }
}
@include media-breakpoint-up(lg) {
    .main-nav__hidden-lg {
        display: none !important;
    }
}
@include media-breakpoint-up(lg) {
    .main-nav {
        .main-nav__inner {
            min-height: 140px;
            padding: 25px 0;
        }
        .main-nav__top-menu {
            display: block;
        }
        .main-nav__logo {
            .main-nav__logo-img {
                height: 64px;
            }
        }
        .main-nav__bottom-menu {
            display: block;
        }
        .main-nav__icon-menu {
            margin-right: -25px;
            .main-nav__icon-menu__link {
                display: inline;
            }
        }
    }
}
@include media-breakpoint-up(xl) {
    .main-nav {
        .main-nav__logo {
            .main-nav__logo-img {
                height: 4.3em;
            }
        }
        .main-nav__top-menu {
            li {
                margin-right: 1.5em;
            }
            margin-bottom: 1.35em;
            a {
                font-size: 107%;
                letter-spacing: 0.02em;
            }
        }
        .main-nav__bottom-menu {
            font-size: 147%;
            letter-spacing: 0.02em;
            margin-right: 1.5em;
            li {
                margin-right: .55em;
                &:after {
                    top: .23em;
                    right: -.41em;
                    width: .1em;
                    height: .91em;
                }
            }
        }
        .main-nav__icon-menu {
            font-size: 1.5em;
            line-height: .9em;
            margin-right: -1.67em;
            li {
                margin-right: 1.67em;
            }
        }
    }
}

.mobile-nav {
    position: fixed;
    width: 280px;
    right: -280px;
    transition: transform 0.3s ease;
    top: 0;
    padding: 73px 20px 20px;
    background-color: #eceff1;
    z-index: 998;
    min-height: 100vh;
    .mobile-nav__menu {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.5px;
        position: relative;
        padding: 0 0 11px;
        margin: 8px 0 6px;
        list-style-type: none;
        a {
            display: block;
            padding: 8px 0 8px 9px;
            position: relative;
            &:after {
                content: '>';
                position: absolute;
                right: 0;
                font-size: 17px;
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 9px;
            width: 216px;
            opacity: 0.8;
            border-style: solid;
            border-width: 1px;
            border-image-source: linear-gradient(to right, rgba(89, 110, 121, 0), #718f9e 48%, rgba(89, 110, 121, 0));
            border-image-slice: 1;
        }
        &.mobile-nav__menu_sub {
            margin-left: 43px;
            font-size: 14px;
            padding-bottom: 0;
            a {
                &:after {
                    font-size: 15px;
                }
            }
            &:after {
                content: none;
            }
        }
    }
    .btn {
        width: 100%;
    }
    &.mobile-nav_active {
        transform: translateX(-100%); 
    }
}
@include media-breakpoint-up(md) {
    .mobile-nav {
        padding-right: 40px;
        padding-left: 40px;
        width: 320px;
        right: -320px;
    }
}
@include media-breakpoint-up(lg) {
    .mobile-nav {
        display: none;
    }
}