$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 1024px
);
$grid-gutter-width: 0;
$container-max-widths: (
  lg: 100%
);

$primary: #ff5722; // основной красный
$primary-dark: #f4511e; // темн-красный
$gray-light: #eceff1; // светлый серый фон
$blue-dark: #455a64; // темно-синий, часто используется
$body-color: #263238;
$link-color: #495a63;
$link-hover-color: $link-color;
$link-hover-decoration: none;
/*$headings-color: #495a63;*/

$font-size-base-px: 15px;
$font-family-base: 'PT Sans Narrow', sans-serif;
$font-family-alt: 'DINPro', 'PT Sans Narrow', sans-serif;