@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');
@import "../fonts/DINPro/stylesheet.css";
@import "variables";
@import "libs/bootstrap/bootstrap-reboot.scss";

.text-nowrap { white-space: nowrap !important; }
a {
    outline: none;
}

@import "page-assets/article-content";
body {
    color: $body-color;
    font-size: $font-size-base-px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @extend .article-content;
    overflow: auto;
}