.index-blog {
    background-color: #78909c;
    .index-blog__header {
        font-size: 25px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: .3px;
        text-align: center;
        color: #ffffff;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 163px;
    }
    .index-blog__footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 148px;
    }
}

.blog-item {
    display: block;
    position: relative;
    color: $white;
    background-color: #546e7a;
    @include transition(background .2s ease);
    .blog-item__img {
        width: 100%;
    }
    .blog-item__content-wrapper {
        padding: 30px 20px;
        @include transition();
    }
    .blog-item__header {
        position: relative;
        font-size: 16.9px;
        line-height: 20px;
        margin-bottom: 6.7px;
        font-weight: 700;
        letter-spacing: 0.4px;
    }
    .blog-item__text {
        font-size: 13.4px;
        line-height: 17.8px;
        letter-spacing: 0.3px;
        margin-bottom: 0;
    }
    .blog-item__link {
        position: absolute;
        right: 0;
        top: 27px;
        width: 220px;
        opacity: 0.8;
        background-color: #61737d;
        font-size: 14.3px;
        line-height: 43px;
        font-weight: 700;
        letter-spacing: 0.4px;
        padding: 0 18px;
        color: $white;
        @include transition();
        &:after {
            position: absolute;
            content: '>';
            right: 18px;
            font-size: 16.9px;
        }
        &:hover {
            background-color: $primary;
        }
    }
    &:hover {
        background-color: $white;
        .blog-item__header {
            color: $primary;
        }
        .blog-item__text {
            color: $body-color;
        }
    }
}

@include media-breakpoint-up(md) {
    .index-blog {
        .index-blog__header {
            font-size: 35px;
            line-height: 41px;
            min-height: 163px;
        }
        .index-blog__footer {
            min-height: 176px;
        }
    }
    .blog-list {
        margin-right: -1px;
        > * {
            padding-right: 1px;
            padding-bottom: 1px;
        }
    }
    .blog-item {
        .blog-item__content-wrapper {
            padding: 17px 18px 23px;
        }
        .blog-item__text {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.2px;
        }
        .blog-item__header {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 1.8px;
            letter-spacing: 0.3px;
            padding-right: 15px;
            &:after {
                content: '>';
                position: absolute;
                right: 0;
                font-size: 11.3px;
            }
        }
        .blog-item__link {
            top: 18px;
            width: 148px;
            font-size: 12px;
            line-height: 29px;
            padding: 0 12px;
            &:after {
                right: 15px;
                font-size: 11px;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .index-blog {
        .index-blog__header {
            font-size: 184%;
            line-height: normal;
            height: 6em;
            min-height: unset;
        }
        .index-blog__footer {
            height: 10em;
            min-height: unset;
        }
    }
    .blog-item {
        font-size: 100%;
        .blog-item__content-wrapper {
            padding: 1.5em 1.3em 3.5em 1.5em;
        }
        .blog-item__link {
            top: 2em;
            width: 58%;
            font-size: 85%;
            line-height: 3em;
            padding: 0 1.2em;
            &:after {
                right: 1em;
                font-size: 103%;
            }
        }
        .blog-item__header {
            font-size: 100%;
            line-height: normal;
            letter-spacing: 0.03em;
            margin-bottom: .43em;
            padding-right: 1em;
            &:after {
                font-size: 100%;
            }
        }
        .blog-item__text {
            font-size: 91%;
            line-height: 1.2em;
            letter-spacing: 0.02em;
        }
    }
}