.index-fleet {
    background-color: #78909c;
    position: relative;
    .index-fleet__wrapper {
        position: relative;
    }
    .index-fleet__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 139px;
    }
    .index-fleet__header__inner {
        font-size: 27px;
        line-height: 31px;
        letter-spacing: .7px;
        font-weight: 400;
        text-align: center;
        color: $white;
        padding: 0 25px;
        margin: 0;
    }
    .index-fleet__footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 171px;
    }
    .index-fleet__video-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        .index-fleet__video {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            max-height: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: .6;
        }
    }
}
@include media-breakpoint-only(md) {
    .index-fleet {
        .index-fleet__header, .index-fleet__footer {
            min-height: 172px;
        }
        .index-fleet__header__inner {
            font-size: 33px;
            line-height: 39px;
            letter-spacing: .5px;
            padding: 0 25px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .index-fleet {
        .index-fleet__header, .index-fleet__footer {
            height: 9.4em;
            min-height: unset;
        }
        .index-fleet__header__inner {
            font-size: 183%;
            line-height: normal;
            letter-spacing: .015em;
            padding: 0;
        }
    }
}

.fleet-icon-list {
    margin-right: -1px;
    .fleet-icon__wrapper {
        padding-right: 1px;
        padding-bottom: 1px;
    }
    .fleet-icon-list__sep {
        display: none;
    }
}
@include media-breakpoint-only(md) {
    .fleet-icon-list {
        .fleet-icon-list__sep {
            &:nth-child(4n) {
                display: block;
                width: 100%;
            }
        }
    }
}

.fleet-icon {
    display: flex;
    flex-direction: column;
    height: 157px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    color: $white;
    text-align: center;
    @include transition(background .2s ease);
    .fleet-icon__header {
        font-family: $font-family-alt;
        font-size: 37.4px;
        font-weight: bold;
        flex: 1;
        flex-basis: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .fleet-icon__text {
        font-size: 17.2px;
        flex-basis: 50%;
        padding: 6px 40px;
    }
    .fleet-icon__logo {
        height: 46px;
    }
    &:hover {
        color: $white;
        background-color: rgba(255, 255, 255, 0.35);
    }
}
@include media-breakpoint-only(md) {
    .fleet-icon {
        height: 252px;
        .fleet-icon__header {
            font-size: 59.9px;
        }
        .fleet-icon__text {
            font-size: 27.6px;
            padding-top: 13.2px;
        }
        .fleet-icon__logo {
            height: 73px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .fleet-icon {
        height: 11em;
        .fleet-icon__header {
            font-size: 260%;
        }
        .fleet-icon__text {
            font-size: 120%;
            padding: 0.3em 2.2em;
        }
        .fleet-icon__logo {
            height: 1.2em;
        }
    }
}

.fleet-item {
    display: block;
    background-color: $white;
    color: #4c5a62;
    .fleet-item__link {
        display: block;
    }
    .fleet-item__img-wrapper {
        overflow: hidden;
    }
    .fleet-item__img {
        width: 100%;
    }
    .fleet-item__inner {
        min-height: 140px;
        padding: 20px 20px 40px;
        display: flex;
        flex-direction: column;
    }
    .fleet-item__title {
        font-size: 20px;
        margin-bottom: 12px;
        margin-right: 20px;
        position: relative;
        @include transition();
        .fleet-item__title__underline {
            @include link-underline();
            /*@include link-underline($primary);*/
        }
        &:after {
            position: absolute;
            right: -20px;
            top: 0;
            content: '>';
            font-size: 22.2px;
            font-weight: 700;
        }
    }
    .fleet-item__text {
        font-size: 15px;
        .fleet-item__text__list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                display: inline-block;
                &:after {
                    content: ' |';
                }
                &:last-of-type {
                    &:after {
                        content: '';
                    }
                }
            }
        }
    }
    &:hover {
        .fleet-item__title {
            /*color: $primary;*/
            /*            .fleet-item__title__underline:before {
                            transform: scaleX(1);
                        }*/
        }
    }
    &.fleet-item_text-down {
        .fleet-item__title {
            flex: 1;
        }
    }
    &.underline-anime {
        .underline-anime__hidden {
            .underline-anime__line {
                border-color: $blue-dark;
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .fleet-list {
        padding: 30px;
        .fleet-list__inner {
            > * {
                display: flex;
            }
            background-color: #eceff1;
            padding: 1px 0 0 1px;
            .fleet-item {
                flex: 1;
                margin: 0 1px 1px 0;
                .fleet-item__inner {
                    min-height: 125px;
                }
                .fleet-item__title {
                    font-size: 22px;
                    margin-bottom: 14px;
                }
                .fleet-item__text {
                    font-size: 16px;
                }
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .fleet-list {
        padding: 3vw;
        .fleet-list__inner {
            .fleet-item {
                .fleet-item__inner {
                    min-height: 7em;
                    padding: 1em 1em 3em;
                }
                .fleet-item__title {
                    font-size: 100%;
                    line-height: normal;
                    margin-bottom: .5em;
                    &:after {
                        font-size: 100%;
                    }
                }
                .fleet-item__text {
                    font-size: 80%;
                }
            }
        }
    }
}

.boat-slider {
    background-color: $gray-light;
    .boat-slider__slide {
        padding: 55px 20px;
    }
    .boat-slider__img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

.boat-info {
    position: relative;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    .boat-info__inner {
        flex: 1;
        margin-bottom: 25px;
    }
    .boat-info__title {
        font-size: 21px;
        letter-spacing: 0.2px;
        font-weight: normal;
        color: $blue-dark;
        margin-bottom: 7px;
        .boat-info__title__primary {
            display: block;
            color: $primary-dark;
        }
        .boat-info__title__link {
            display: block;
            position: relative;
            &:after {
                content: '>';
                position: absolute;
                right: 0;
                top: 0;
                font-size: 19px;
                font-weight: 700;
                color: #4c5a62;
            }
        }
        .underline-anime__line {
            border-color: $blue-dark;
        }
    }
    .boat-info__subtitle {
        font-size: 13px;
        letter-spacing: 0.1px;
        color: $blue-dark;
        margin-bottom: 13px;
    }
    .boat-info__data {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: $blue-dark;
        &.boat-info__data_padding-right {
            padding-right: 100px;
        }
    }
    .boat-info__icons__list {
        @include list-inline(4px);
        img {
            width: 64px;
        }
    }
    .boat-info__charter {
        display: flex;
        align-items: baseline;
        .boat-info__charter__text {
            flex: 1;
            font-size: 14px;
            white-space: nowrap;
            letter-spacing: 0.1px;
            color: $blue-dark;
        }
        .boat-info__charter__price {
            flex-basis: 72px;
            font-family: $font-family-alt;
            font-size: 24px;
            white-space: nowrap;
            letter-spacing: 0.3px;
            color: #e2613a;
        }
    }
    .boat-info__discount {
        background-color: $primary-dark;
        padding: 10px;
        color: $white;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 92px;
        .boat-info__discount__title {
            font-family: $font-family-alt;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.2px;
            margin-bottom: 8.8px;
        }
        .boat-info__discount__text {
            font-size: 12px;
            letter-spacing: 0.1px;
        }
    }
    &.boat-info_list {
        padding: 20px;
        .boat-info__title {
            font-size: 19px;
            letter-spacing: 0.2px;
            margin-bottom: 3px;
        }
        .boat-info__subtitle {
            font-size: 14px;
            letter-spacing: 0.1px;
            margin-bottom: 16px;
        }
        .boat-info__data {
            font-size: 14px;
            letter-spacing: 0.1px;
        }
    }
}
@include media-breakpoint-up(md) {
    .boat-header {
        display: flex;
        border-bottom: 1px solid rgba(84, 110, 122, .4);
        margin-bottom: 20px;
        .boat-slider {
            width: 61%;
            .slick-list {
                top: 50%;
                transform: translateY(-50%);
            }
            .boat-slider__slide {
                padding: 37px 62px;
            }
        }
    }
    .boat-info {
        flex: 1;
        padding: 15px 21px;
        .boat-info__subtitle {
            font-size: 13px;
            letter-spacing: 0.1px;
            color: $blue-dark;
            margin-bottom: 13px;
        }
        .boat-info__icons__list {
            img {
                width: 50px;
            }
        }
        &.boat-info_list {
            padding: 15px 20px;
            .boat-info__subtitle {
                margin-bottom: 22px;
            }
            .boat-info__data {
                font-size: 13px;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .boat-header {
        margin-bottom: 1.6em;
        .boat-slider {
            .boat-slider__slide {
                padding: 62px 104px;
            }
        }
    }
    .boat-info {
        padding: 1.7em 2em;
        .boat-info__title {
            font-size: 180%;
            letter-spacing: 0.02em;
            margin-bottom: .3em;
            .boat-info__title__link:after {
                font-size: 100%;
            }
        }
        .boat-info__subtitle {
            font-size: 117%;
            letter-spacing: 0.02em;
            margin-bottom: 1em;
        }
        .boat-info__data {
            font-size: 90%;
            letter-spacing: 0.02em;
            &.boat-info__data_padding-right {
                padding-right: 9em;
            }
        }
        .boat-info__icons__list {
            @include list-inline(0.2em);
            img {
                width: 3.8em;
            }
        }
        .boat-info__charter {
            .boat-info__charter__text {
                font-size: 110%;
                letter-spacing: 0.01em;
            }
            .boat-info__charter__price {
                flex-basis: 3em;
                font-size: 210%;
                letter-spacing: 0.02em;
            }
        }
        .boat-info__discount {
            padding: 1em;
            width: 8.5em;
            .boat-info__discount__title {
                font-size: 200%;
                line-height: 1em;
                letter-spacing: 0.02em;
                margin-bottom: 0.4em;
            }
            .boat-info__discount__text {
                font-size: 100%;
                letter-spacing: 0.02em;
            }
        }
        &.boat-info_list {
            padding: 1.6em 2em;
            .boat-info__title {
                font-size: 165%;
                letter-spacing: 0.02em;
                margin-bottom: 0.2em;
            }
            .boat-info__subtitle {
                font-size: 103%;
                letter-spacing: 0.02em;
                margin-bottom: 2em;
            }
            .boat-info__data {
                font-size: 100%;
                letter-spacing: 0.02em;
                line-height: 1.6;
            }
        }
    }
}

.boat-data {
    flex: 1;
    background-color: $gray-light;
    padding: 15px 20px;
    color: $blue-dark;
    border-top: 1px solid rgba(84, 110, 122, .4);
    border-bottom: 1px solid rgba(84, 110, 122, .4);
    .boat-data__title {
        font-size: 23px;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-weight: normal;
        margin-bottom: 28px;
        .boat-data__title__name {
            display: block;
            font-weight: 600;
        }
    }
    .boat-data__list {
        font-size: 14px;
        letter-spacing: 0.2px;
        overflow: hidden;
        margin-bottom: 0;
        dt {
            font-weight: 600;
        }
        &.boat-data__list_sm {
            dt {
                clear: left;
                float: left;
            }
            dd {
                padding-left: 150px;
                margin-bottom: 8px;
                /*                &:last-of-type {
                                    margin-bottom: 0;
                                }*/
            }
            &.last {
                dd {
                    &:last-of-type {
                        margin-bottom: 40px;
                    }
                }
            }
        }
        &.boat-data__list_lg {
            margin-bottom: 0;
            dt {
                margin-bottom: 5px;
            }
            dd {
                margin-bottom: 17px;
                &:last-of-type {
                    margin-bottom: 40px;
                }
            }

        }
    }
    .boat-data__p {
        /*opacity: 0.9;*/
        font-size: 14px;
        letter-spacing: 0.2px;
        margin-bottom: 7px;
    }
}
@include media-breakpoint-up(md) {
    .boat-data {
        padding: 25px 30px;
        .boat-data__title {
            font-size: 26px;
            line-height: 35px;
            margin-bottom: 31px;
        }
        .boat-data__list {
            font-size: 15px;
            &.boat-data__list_sm {
                dd {
                    padding-left: 160px;
                }
            }
            &.boat-data__list_lg {
                dt {
                    margin-bottom: 7px;
                }
                dd {
                    margin-bottom: 25px;
                }
            }
        }
        .boat-data__p {
            font-size: 15px;
            margin-bottom: 12px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .boat-data {
        padding: 1em 3vw;
        .boat-data__title {
            font-size: 150%;
            line-height: 1.7em;
            margin-bottom: 1.7em;
        }
        .boat-data__list {
            font-size: 90%;
            &.boat-data__list_sm {
                dd {
                    padding-left: 11.5em;
                    margin-bottom: 0.3em;
                    &:last-of-type {
                        margin-bottom: 5em;
                    }
                }
                &.last {
                    margin-left: 2em;
                    dd {
                        &:last-of-type {
                            margin-bottom: 5em;
                        }
                    }
                }
            }
            &.boat-data__list_lg {
                dt {
                    clear: left;
                    float: left;
                }
                dd {
                    padding-left: 11.5em;
                    margin-bottom: 1.8em;
                    &:last-of-type {
                        margin-bottom: 5em;
                    }
                }
            }
        }
        .boat-data__p {
            font-size: 87.5%;
            margin-bottom: 0.6em;
        }
    }
}
.boat-charter {
    flex: 1;
    padding: 15px 20px;
    color: $blue-dark;
    border-bottom: 1px solid rgba(84, 110, 122, .4);
    .boat-charter__title {
        font-size: 23px;
        line-height: 28px;
        letter-spacing: 0.2px;
        font-weight: normal;
        margin-bottom: 36px;
        .boat-charter__title__name {
            display: block;
            font-weight: 600;
        }
    }
    .boat-charter__checkboxed {
        padding: 10px 0;
    }
    .boat-charter__submit {
        width: 100%;
        margin-bottom: 18px;
    }
    .boat-charter__summary {
        font-family: $font-family-alt;
        font-size: 17px;
        letter-spacing: 0.3px;
        text-align: center;
        color: $primary;
    }
}
@include media-breakpoint-up(md) {
    .boat-charter {
        padding: 25px 30px;
        border-top: 1px solid rgba(84, 110, 122, .4);
        .boat-charter__title {
            font-size: 26px;
            line-height: 35px;
            margin-bottom: 36px;
        }
        .boat-charter__submit {
            min-width: unset;
            margin-bottom: 0;
        }
        .boat-charter__summary {
            text-align: left;
            margin-left: 20px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .boat-charter {
        padding: 1em 3vw;
        .boat-charter__title {
            font-size: 150%;
            line-height: 1.7em;
            margin-bottom: 1.7em;
        }
        .boat-charter__summary {
            margin-left: 1.5em;
            font-size: 85%;
        }
    }
}

.boat-virtual {
    border-bottom: 1px solid rgba(84, 110, 122, .4);
    .boat-virtual__header {
        padding: 64px 40px;
        text-align: center;
        color: #78909c;
        .boat-virtual__title {
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
        }
        .boat-virtual__text {
            line-height: 20px;
            letter-spacing: 0.3px;
        }
    }
}
@include media-breakpoint-up(md) {
    .boat-virtual {
        .boat-virtual__header {
            padding: 70px 40px;
            .boat-virtual__title {
                font-size: 35px;
                margin-bottom: 25px;
            }
            .boat-virtual__text {
                font-size: 17px;
                line-height: normal;
                max-width: 50%;
                margin: 0 auto;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .boat-virtual {
        .boat-virtual__header {
            padding: 4em 3vw;
            .boat-virtual__title {
                font-size: 184%;
                margin-bottom: 0.7em;
            }
            .boat-virtual__text {
                font-size: 115%;
            }
        }
    }
}

.fleet-boats-item {
    .fleet-boats-item__img {
        display: block;
        width: 100%;
    }
}
.fleet-boats-text {
    padding: 20px;
    border-top: 1px solid #8799a1;
    p {
        letter-spacing: 0.2px;
        margin-bottom: 1em;
        line-height: 20px;
        color: $blue-dark;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 1em;
        color: $blue-dark;
        font-weight: 400;
    }
}
@include media-breakpoint-up(md) {
    .fleet-boats-item {
        display: flex;
        flex-direction: row-reverse;
        border-bottom: 1px solid #8799a1;
        &:last-of-type {
            border-bottom: none;
        }
        .fleet-boats-item__img-wrapper {
            flex: 1;
            padding: 15px 15px 15px 0;
        }
        .fleet-boats-item__inner {
            display: flex;
            flex-basis: 33%;
        }
    }
    .fleet-boats-text {
        h3 {
            font-size: 24px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .fleet-boats-item {
        .fleet-boats-item__img-wrapper {
            padding: 1.6em 1.6em 1.6em 0;
        }
    }
    .fleet-boats-text {
        padding: 3vw;
        h3 {
            font-size: 135%;
        }
        p {
            font-size: 77%;
            line-height: normal;
            letter-spacing: 0.02em;
        }
    }
}