.index-social {
    background-color: #b0bec5;
    text-align: center;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    /*font-size: 0;*/
    width: 100%;
    li {
        display: inline-block;
        margin-right: 15px;
        &:last-of-type {
            margin-right: 0;
        }
        a {
            display: inline-block;
            font-size: 32px;
            color: white;
            opacity: .7;
            @include transition();
            &:hover {
                opacity: 1;
            }
            .icon-mail {
                font-size: 80%;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .social-list {
        &:first-of-type {
            margin-bottom: 20px;
        }
    }   
}
@include media-breakpoint-up(md) {
    .index-social {
        min-height: 100px;
    }
    .social-list {
        margin-bottom: 0;
        width: auto;
        li a {
            font-size: 34px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .index-social {
        min-height: 5.5em;
    }
    .social-list {
        li {
            margin-right: 1em;
            a {
                font-size: 193%;
            }
        }
    }
}